<div class="col-md-3">
<h1>User info</h1>
<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
<table class="table">
  <tbody>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction%></th>
      </tr>
  </tbody>
</table>


<div class="row">
  <% if user.id == current_user.id %>
        <%= link_to edit_user_path(user) do%>
        <span class="col-xs-12 btn btn-default glyphicon glyphicon-wrench">
        </span>
      <% end %>
<% end %>
</div>




<div class="row">
<h1>New book</h1>

<%= form_for(book) do |f| %>

<% if book.errors.any? %>
<table>
  <font color="red">
       <p>2 errors prohibited this book from being saved:</p>
         <ul>
            <li>Title can't be blank</li>
            <li>opinion can't be blank</li>
         </ul>
    </font>
</table>
<% end %>


  <h4>Title</h4>
      <%= f.text_field :title, class:"col-xs-12"%>
    <h4>Opinion</h4>
    <%= f.text_area :body, class:"col-xs-12" %>
   <p><%= f.submit 'Create Book', class:"btn btn-primary" %></p>
<% end %>
</div>
</div>
