<h1>User info</h1>

<%= form_for(@user) do |f| %>
<h4>Name</h4>
  <%= f.text_field :name %>
<h4>Image</h4>
  <%= f.attachment_field :profile_image, placeholder: "プロフィール画像"%>
<h4>Introduction</h4>
  <%= f.text_area :introduction %>
<%= f.submit 'Update User'%>

<% end %>


<%#<%= link_to "Show", user_path(@user.id) %>
<%#<%= link_to "Back", users_path %>